<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fit_nance.project.dao.IManagementDAO">
	<resultMap id="managementresult" type="com.fit_nance.project.model.MemberVO" >
		<result property="memRole" column="memRole"/>
		<result property="memId" column="memId"/>
		<result property="memPwd" column="memPwd"/>
		<result property="memName" column="memName"/>
		<result property="memBirth" column="memBirth"/>
		<result property="memGender" column="memGender"/>
		<result property="memBank" column="memBank"/>
		<result property="memEmailRecd" column="memEmailRecd"/>
		<result property="provider" column="provider"/>
		<result property="providerId" column="providerId"/>
		<result property="certified" column="certified"/>
	</resultMap>
	
	<!-- 회원정보 리스트 -->
	<select id="listAllMember" resultMap="managementresult">
		SELECT * FROM member ORDER BY memId
	</select>
	
	<!-- 회원 권한 수정 -->
	<update id="updateMemberRole" parameterType="string">
		UPDATE member
		SET memRole=#{memRole}
	</update>
  
  	<!-- 회원정보 상세 보기 -->
	<select id="detailViewMember" parameterType="string" resultType="com.fit_nance.project.model.MemberVO">
		SELECT * 
		FROM member 
		WHERE memId=#{memId}
	</select>
</mapper>