@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


/* 초기화 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #222222;
}

/* common */
.wrap{
    width: 1320px;
    margin: 0 auto;
    /*padding: 0 20px;*/
}

/* calculator deposit */
.middle{
    margin-top:134.5px;
    display:flex;
    flex-direction: column;
}

.middle1 ul li:first-child{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

.middle1 ul li:last-child{
    font-size:17px;
    margin-bottom: 60px;
}

.middle2{
    display:flex;
    flex-direction: row;
}

.middle2 > .middle2-box1{
    width:130px;
    height: 52px;
    border-radius: 5px;
    border:2px solid #f2f2f2;
    color: #222222;
    font-size: 16px;
    text-align: center;
    padding:16px;
}

.middle2 > .middle2-box2{
    margin-left: 15px;
    width:174px;
    height: 52px;
    border-radius: 5px;
    
    background-color: #1F4DFF;
    color:#FFFFFF;
    font-size: 16px;
    text-align: center;
    padding:16px;
}

.middle3{
    margin-top: 80px;
    margin-bottom: 53px;
    font-size:26px;
    font-weight: bold;
}

.middle4{
    display:flex;
    flex-direction: row;
    margin-bottom: 140px;
}

.middle4 .middle4-subbox1{
    width:440px;
}

.middle4 .middle4-subbox1 .sub-title{
    font-size:18px;
    font-weight: bold;
}

.middle4 .middle4-subbox1 .sub-input{
    font-size:20px;
    display:flex;
    width: 440px;
    height: 60px;
    margin-bottom: 50px;
    border-bottom:4px solid #f2f2f2;
    
}

.middle4 .middle4-subbox1 .sub-input #amount-paid,
.middle4 .middle4-subbox1 .sub-input #period,
.middle4 .middle4-subbox1 .sub-input #interest-rate,
.middle4 .middle4-subbox1 .sub-input #interest-rate-system{
    margin-left:auto;
    text-align: right;
    border:0px;
    font-size:20px;
    font-weight: 600;
    
}

.middle4 .middle4-subbox1 .sub-input #amount-paid, 
.middle4 .middle4-subbox1 .sub-input #interest-rate{
    color:#aaa;
    
}

.middle4 .middle4-subbox1 .sub-input #period{
    appearance: none;
}

.middle4 .middle4-subbox1 .sub-input #interest-rate-system{
    appearance: none;
}

.middle4 .middle4-subbox1 .sub-input span{
    padding:16px;
}

.calculate{
    padding:23px;
    width:440px;
    height:70px;
    border-radius: 5px;
    background-color: #1F4DFF;
    color:#FFFFFF;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    
}

.middle4-subbox2{
    margin-left: 110px;
    width:730px;
}

.middle4-subbox2 .sub-title1{
    font-size:26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.middle4-subbox2 .sub-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.middle4-subbox2 .sub-box .box1{
    width:80px;
    height: 42px;
    border-radius: 5px;
    background-color: #1F4DFF;
    color:#FFFFFF;
    text-align: center;
    font-size:14px;
    font-weight: 500;
    padding:13px;
    margin-right: 10px;
}

.middle4-subbox2 .sub-box .box2, .box3{
    width:80px;
    height: 42px;
    border-radius: 5px;
    text-align: center;
    font-size:14px;
    font-weight: 500;
    padding:13px;
    border-radius: 5px;
    border:2px solid #f2f2f2;
    margin-right: 10px;
}

.sub-detail{
    height:111px;
    border-bottom:4px solid #f2f2f2;
    margin-bottom: 60px;
}

.sub-detail >ul{
    font-size:18px;
    line-height: 1.67;
}

.sub-detail >ul >li:first-child span{
    font-weight: 600;
}

.sub-detail >ul >li:last-child span{
    font-weight: 600;
    color:#1F4DFF;
}

.middle4-subbox2 .sub-title2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 11px;
}

.middle4-subbox2 .sub-line1,
.middle4-subbox2 .sub-line2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 84px;
    padding-top:30px;
}

.middle4-subbox2 .sub-line1{
    border-bottom:4px solid #f2f2f2;
}

.middle4-subbox2 .line-left{
    width:180px;
    font-size:20px;
}

.middle4-subbox2 .line-middle{
    width:455px;
    font-size:20px;
}

.middle4-subbox2 .line-right{
    font-size:22px;
}

.middle4-subbox2 .line-right span{
    font-size:22px;
    font-weight:600;
}