section.wrap{
    margin-top: 220px;
    letter-spacing: -1px;
}

.box-notice-title{
    width: 100%;
}

.box-notice-title h3{
    font-size: 38px;
    font-weight: 600;
}

.sec-notice-col{
    margin-top: 80px;
}

.sec-notice-col .box-notice-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    background-color: #EEEEEE;    
}

.sec-notice-col .box-notice-title span{
    font-size: 17px;
    font-weight: 600;
}

.sec-notice-col .box-notice-title span:last-child{
    margin-right: 15px;
}

.sec-notice-col .box-notice-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;    
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
}

.sec-notice-col .box-notice-content .text-notice-title,
.sec-notice-col .box-notice-content .text-notice-date{
    font-size: 17px;
    font-weight: 300;
}

/* 페이지네이션 */
.pagination{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 60px;
}

.pagination .page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    border-radius: 5px;
    color: #AAAAAA;
    font-size: 14px;
    cursor: pointer;
}

.pagination .page i{
    color: #AAAAAA;
    font-size: 14px;
}

.pagination .page-active{
    background-color: #1F4DFF;
    color: #FFFFFF;
}