/* 초기화 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #222222;
}

/* common */
.wrap{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}


/*saving_compare*/

.middle .middle-topbox{
    height:308px;
    background-color: #edf4ff;
    text-align: center;
    margin-bottom:81px;
}

.middle .middle-topbox .middle-text{
    font-size: 38px;
    font-weight: bold;
    color: #222;
    padding-top:162px;
}

.go-to-list{
    margin:auto;
    border:1px solid #666666;
    width: 200px;
    height: 52px;
    border-radius: 5px;
    text-align: center;
    padding : 15px;
    color:#222;
    font-weight: 500;
    margin-bottom: 130px;
    margin-top:80px;
}

table{
    border-collapse: collapse;
    text-align: center;
    width:1280px;
    table-layout: fixed;
    white-space: nowrap;
}


.wrap #delete{
    
    width:330px;
    height:34px;
}


.wrap #title{
    width:290px;
    height:70px;
    border:0px;
    font-weight: 600;
}

.wrap #blank{
    border:0px;
}

.wrap #delete,
.wrap #name{
    border:solid 1px #dddddd;
}

.wrap #delete{
    color: #666;
}

.wrap tr td:nth-child(n){
    padding-left: 20px;
    padding-right:20px;
    border:solid 1px #dddddd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.48px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.wrap th{
    padding:40px;
    width:330px;
    height: 90px;
    table-layout: fixed;
    overflow:hidden;
    text-overflow: ellipsis;
}


.wrap #name{
    width:330px;
    height:90px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: -0.66px;
}
