*{ 
    /* border: 1px solid red; */
}

.div_detail_prdt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 210px;
}

.div_detail_prdt .panel_info_prdt{
    display: flex;
    justify-content: center;
    /* height: 325px; */
    width: 1280px;
}

.panel_info_prdt .div_prdt_info{
    display: flex;
    width: 1280px;
    margin-bottom: 80px;
}

.panel_info_prdt .div_prdt_info .div_ic_co{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-right: 20px;
    overflow: hidden;
}

.panel_info_prdt .div_prdt_info .div_ic_co img{
	width: 80px;
	height: 80px;
}

.div_prdt_base .div_top_prdt_info{
    display: flex;
    flex-direction: column;
}

.div_prdt_info .div_prdt_base .top_prdt_info{
    height: 80px;
    display: flex;
    flex-direction: column;
}

.div_prdt_base .top_prdt_info .div_nm_co{
    font-size: 18px;
}

.div_prdt_base .top_prdt_info .div_nm_prdt{
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}

.div_prdt_base .div_joinway{
    height: 32px;
    display: flex;
    font-size: 13px;
    color: #222222;
    margin-top: 5px;
}

.div_prdt_base .div_joinway .div_joinway_block{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 10px;
}

.div_prdt_base .div_joinway .div_joinway_block:first-child{
    margin-left: 0px;
}


.div_prdt_info .div_prdt_base .bot_prdt_info{
    margin-top: 60px;
    display: flex;
}

.div_prdt_base .bot_prdt_info .div_lend_rate{
    margin-right: 40px;
}

.div_prdt_base .bot_prdt_info .div_lend_rate,
.div_prdt_base .bot_prdt_info .div_loan_lmt{
    display: flex;
    flex-direction: column;
}

.bot_prdt_info .div_lend_rate .lend_rate_title,
.bot_prdt_info .div_loan_lmt .loan_lmt_title{
    font-size: 14px;
}

.bot_prdt_info .div_lend_rate .lend_rate_prdt,
.bot_prdt_info .div_loan_lmt .loan_lmt_prdt{
    font-size: 42px;
    font-weight: 500;
}

.bot_prdt_info .div_lend_rate .lend_rate_prdt span,
.bot_prdt_info .div_loan_lmt .loan_lmt_prdt span{
    font-size: 30px;
    font-weight: 200;
}


/* 상세 정보 */

.panel_detail_prdt{
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.panel_detail_prdt .tap_detail_prdt{
    width: 1280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222222;
}

.panel_detail_prdt .tap_detail_prdt span{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
}

.panel_detail_prdt .div_content_prdt .panel_content_prdt{
    margin: 60px 0px 80px 0px;
    padding: 40px;
    background-color: #f9f9f9;
}

.panel_detail_prdt .div_content_prdt .panel_content_prdt span{
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
}

.panel_detail_prdt .div_content_prdt .panel_content_prdt span:nth-child(2n){
    display: block;
    font-weight: 400;
    margin-bottom: 40px;
}

.panel_detail_prdt .div_content_prdt .panel_content_prdt span:last-child{
    margin-bottom: 0px;
}

/* 목록으로 돌아가기 버튼 */
.div_detail_prdt button{
    width: 200px;
    height: 60px;
    color: #222222;
    border: 1px solid #222222;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.div_detail_prdt button span{
    font-size: 16px;
    font-weight: 600;
}