.middle .middle-topbox{
    height:433px;
    background-color: #edf4ff;
    text-align: center;
}

.back{
    background-color: #edf4ff;
}

.topbox-title{
    padding-top: 220px;
    font-size: 36px;
    font-weight: 500;
}

.topbox-textbox{
    width:640px;
    height: 60px;
    font-size:18px;
    border-bottom: solid 1px #aaa;
    display: inline-block;
    margin-top:30px;
    text-align: left;
}

.topbox-textbox i{ 
    color : #aaaaaa;
    padding-top: 20px;
}

.topbox-textbox #textbox{
    padding-top: 20px;
    padding-left: 20px;
    color : #aaaaaa;
    border : 0px;
    background-color: #edf4ff;
    width:500px;
}

.middle-bottom{
    margin-top:123px;
    margin-bottom: 123px;
    display: flex;
    flex-direction: column;
}

.middle-bottom .title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
    text-align: left;
    color: #222;
    padding-bottom: 20px;
}

.middle-bottom .q-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    border-bottom: solid 1px #ccc;
}

.middle-bottom .q-box .q{
    padding:30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -0.54px;
    text-align: left;
    color: #222;
}

.middle-bottom .q-box .icon{
    padding-top:30px;
}

.middle-bottom .q-box .icon i{
    color:#ccc;
    font-size:18px;
}

.middle-bottom .a-box{
    padding:30px;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: -0.48px;
    text-align: left;
    color: #222;
    display:none;
}


.middle-bottom .more,
.middle-bottom .more-down{
	font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.54px;
    text-align: center;
    color: #666;
    display: inline-block;
    padding-top: 30px;
    
}

.middle-bottom .more-up{
	font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.54px;
    text-align: center;
    color: #666;
    display: none;
    padding-top: 30px;
}

.middle-bottom .more i,
.middle-bottom .more-down i,
.middle-bottom .more-up i{
    color : #aaa;
    padding-left: 11px;
    cursor: pointer;
}

input{
    outline:none;
}

.icon:hover{
	cursor: pointer;
}

.icon:hover i{
	cursor: pointer;
}

input::placeholder { color : #AAA }

.more-items{
	display:none;
}
