*{
    /* border: 1px solid red; */
}

#section{
    /* width: 1920px; */
    /* display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.div_background{
    height: 308px;
    margin-top: 90px;
    padding-top: 130px;
    background-color: #EDF4FF;
}

.div_background_wrap{
    position: relative;
}

.div_background .div_background_top{
    padding-top: 90px;
    height: 308px;
    box-sizing: content-box;
    background-color: #edf4ff;
}

.div_background .div_background_bottom{
    height: 69.4px;
    background-color: #ffffff;
}

.div_background .div_background_title{
    display:inline-block;
}

.div_background .div_background_title .background_title_main{
    display: block;
    font-size: 56px;
    font-weight: bold;
    color: #222222;
}



.div_background .div_background_title .background_title_sub{
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    color: #222222;
    margin-top: 32px;
}

.div_background .div_background_image{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: -50px;
}

.div_background_image img{
    width: 572.4px;
    height: 294.6px;
}

.div_list{
    width: 1280px;
    margin-top: 150px;
    /* border: 1px solid rgb(40, 23, 23); */
    display: flex;
    justify-content: center;
}

/* 필터 div */

.div_list .panel_filter{
    width: 202px;
    /* border: 1px solid red; */
    margin-right: 90px;
}

.div_list .panel_filter .div_prdt_joinway,
.div_list .panel_filter .div_mrtg_type,
.div_list .panel_filter .div_rpay_type,
.div_list .panel_filter .div_lend_type{
    font-size: 14px;
    color: #222222;
    font-weight: 500;
}

.panel_filter .div_prdt_compare .btn_prdt_compare{
    width: 200px;
    height: 52px;
    border: 1px solid #1f4dff;
    border-radius: 5px;
    color: #1f4dff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 가입 방법 */

.panel_filter .div_prdt_joinway .title_prdt_joinway{
    margin: 30px 0px 12px 0px;
}

.panel_filter .div_prdt_joinway .option_prdt_joinway{
    height: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.div_prdt_joinway .option_prdt_joinway div{
    width: 95px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 400;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway1,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway2,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway3,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway4{
    color: #666666;
}

.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway1:hover,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway2:hover,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway3:hover,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway4:hover{
    color: #ffffff;
    background-color: #1f4dff;
}

.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway1_clicked,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway2_clicked,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway3_clicked,
.div_prdt_joinway .option_prdt_joinway .btn_prdt_joinway4_clicked{
    color: #ffffff;
    background-color: #1f4dff;
}

/* 대출 한도 */

.panel_filter .div_mrtg_type .title_mrtg_type{
    margin: 30px 0px 12px 0px;
}

.panel_filter .div_mrtg_type .option_mrtg_type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.panel_filter .div_mrtg_type .option_mrtg_type div{
    width: 95px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

.div_mrtg_type .option_mrtg_type .btn_mrtg_type1,
.div_mrtg_type .option_mrtg_type .btn_mrtg_type2{
    color: #666666;
}

.div_mrtg_type .option_mrtg_type .btn_mrtg_type1:hover,
.div_mrtg_type .option_mrtg_type .btn_mrtg_type2:hover{
    color: #ffffff;
    background-color: #1f4dff;
}

.div_mrtg_type .option_mrtg_type .btn_mrtg_type1_clicked,
.div_mrtg_type .option_mrtg_type .btn_mrtg_type2_clicked{
    color: #ffffff;
    background-color: #1f4dff;
}

/* 대출상환유형 */

.panel_filter .div_rpay_type .title_rpay_type{
    margin: 30px 0px 12px 0px;
}

.panel_filter .div_rpay_type .option_rpay_type{
    height: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.panel_filter .div_rpay_type .option_rpay_type div{
    width: 94px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: -0.58px;
    cursor: pointer;
}

.div_rpay_type .option_rpay_type .btn_rpay_type1,
.div_rpay_type .option_rpay_type .btn_rpay_type2,
.div_rpay_type .option_rpay_type .btn_rpay_type3{
    color: #666666;
}

.div_rpay_type .option_rpay_type .btn_rpay_type1:hover,
.div_rpay_type .option_rpay_type .btn_rpay_type2:hover,
.div_rpay_type .option_rpay_type .btn_rpay_type3:hover{
    color: #ffffff;
    background-color: #1f4dff;
}

.div_rpay_type .option_rpay_type .btn_rpay_type1_clicked,
.div_rpay_type .option_rpay_type .btn_rpay_type2_clicked,
.div_rpay_type .option_rpay_type .btn_rpay_type3_clicked{
    color: #ffffff;
    background-color: #1f4dff;
}

/* 대출금리유형 */

.panel_filter .div_lend_type .title_lend_type{
    margin: 30px 0px 12px 0px;
}

.panel_filter .div_lend_type .option_lend_type{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.panel_filter .div_lend_type .option_lend_type div{
    width: 95px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

.div_lend_type .option_lend_type .btn_lend_type1,
.div_lend_type .option_lend_type .btn_lend_type2{
    color: #666666;
}

.div_lend_type .option_lend_type .btn_lend_type1:hover,
.div_lend_type .option_lend_type .btn_lend_type2:hover{
    color: #ffffff;
    background-color: #1f4dff;
}

.div_lend_type .option_lend_type .btn_lend_type1_clicked,
.div_lend_type .option_lend_type .btn_lend_type2_clicked{
    color: #ffffff;
    background-color: #1f4dff;
}

/* 필터 초기화 */

.panel_filter .div_reset_filter .btn_reset_filter{
    width: 200px;
    height: 52px;
    margin-top: 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #222222;
    background-color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.panel_filter .div_reset_filter .btn_reset_filter img{
    margin-right: 5px;
    width: 13px;
    height: 13px;
    filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(149deg) brightness(102%) contrast(91%);
}

.panel_filter .div_reset_filter .btn_reset_filter span{
    margin-left: 5px;
}

.panel_filter .div_reset_filter .btn_reset_filter i{
    margin-left: 5px;
    font-size: 13px;
    color: #222222;
}

.panel_filter .div_reset_filter .btn_reset_filter:hover{
    background-color: #1f4dff;
}

.panel_filter .div_reset_filter .btn_reset_filter:hover i{
    color: #ffffff;
}

.panel_filter .div_reset_filter .btn_reset_filter:hover span{
	color: #ffffff;
}


/* 상품 리스트 div */

.div_list .panel_list_prdt{
    width: 990px;
    /* border: 1px solid blue; */
}

.panel_list_prdt .div_search_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.panel_list_prdt .div_list_result{
    color: #222222;
    font-size: 16px;
    /* border: 1px solid red; */
}

.panel_list_prdt .div_search_prdt{
    width: 300px;
    height: 48px;
    border-bottom: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
}

.panel_list_prdt .div_search_prdt input{
    width: 280px;
    height: 18px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #222222;
}

.panel_list_prdt .div_search_prdt input::placeholder{
    color: #aaaaaa;
}

.panel_list_prdt .div_search_prdt img{
    width: 18px;
    height: 18px;
}


.div_list .div_list_prdt{
    display: flex;
    color: #222222;
    /* border: 1px solid red; */
    justify-content: center;
    flex-direction: column;
}

.div_list_prdt .div_prdt_result_search .div_prdt{
    border-bottom: 1px solid #f2f2f2;
}

.div_prdt{
    width: 990px;
    height: 200px;
    padding: 25px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
}

.div_prdt .div_prdt_info{
    display: flex;
}

.div_prdt .div_prdt_info .div_ic_co{
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    margin-right: 20px;
}

.div_prdt .div_prdt_info .div_prdt_base{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_prdt_info{
    display: flex;
    flex-direction: column;
}

.top_prdt_info .div_nm_prdt{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.top_prdt_info .div_nm_co{
    margin-bottom: 5px;
}

.top_prdt_info .div_nm_co .prdt_nm_co{
    font-size: 16px;

}

.top_prdt_info .div_nm_prdt .prdt_nm_loan{
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}

.top_prdt_info .div_joinway{
	display: flex;
}

.top_prdt_info .div_joinway div{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 10px;
}

.bot_prdt_info{
    display: flex;
}

.bot_prdt_info div{
    width: 150px;
    display: flex;
    flex-direction: column;
    color: #222222;
}

/* 최저 금리 */
.bot_prdt_info .div_lend_rate .lend_rate_title{
    font-size: 14px;
}

.bot_prdt_info .div_lend_rate .lend_rate_prdt{
    font-size: 42px;
    font-weight: 500;
}

.lend_rate_prdt span{
    font-size: 30px;
    font-weight: 200;
}

/* 대출 한도 */
.bot_prdt_info .div_loan_lmt .loan_lmt_title{
    font-size: 14px;
    margin-bottom: 6px;
}

.bot_prdt_info .div_loan_lmt .loan_lmt_prdt{
    font-size: 24px;
    font-weight: 600;
}

/* 22 * 19.3  146 */
/* 리스트 각 상품 우측 버튼 */
.div_btn_prdt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div_btn_prdt .div_btn_add{
    display: flex;
    justify-content: flex-end;
}

.div_btn_prdt .div_btn_add div{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_btn_prdt .div_btn_add .btn_add_favorite{
    margin-left: 15px;
}

.div_btn_prdt .div_btn_add .btn_add_compare,
.div_btn_prdt .div_btn_add .btn_add_favorite{
    border: 1px solid #dddddd;
}

.div_btn_prdt .div_btn_add .btn_add_compare:hover,
.div_btn_prdt .div_btn_add .btn_add_favorite:hover{
    border: 1px solid #1f4dff;
}

.div_btn_prdt .div_btn_add .btn_add_compare:hover img,
.div_btn_prdt .div_btn_add .btn_add_favorite:hover img{
    filter: invert(19%) sepia(64%) saturate(3028%) hue-rotate(224deg) brightness(129%) contrast(122%);
}

.div_btn_prdt .div_btn_add .btn_add_favorite_clicked{
    margin-left: 15px;
}

.div_btn_prdt .div_btn_add .btn_add_compare_clicked,
.div_btn_prdt .div_btn_add .btn_add_favorite_clicked{
    border: 1px solid #1f4dff;
    background-color: #1f4dff;
}

.div_btn_prdt .div_btn_add .btn_add_compare_clicked img,
.div_btn_prdt .div_btn_add .btn_add_favorite_clicked img{
    filter: invert(99%) sepia(0%) saturate(1019%) hue-rotate(49deg) brightness(117%) contrast(100%);
}

.div_btn_prdt .btn_prdt_info{
    width: 154px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #222222;
    background-color: #ffffff;
    font-weight: 400;
    cursor: pointer;
}

.div_btn_prdt .btn_prdt_info:hover{
    color: #1f4dff;
    border: 1px solid #1f4dff;
}

.div_btn_prdt .btn_prdt_info_clicked{
    width: 154px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    cursor: pointer;
}


.div_btn_prdt .div_btn_add img{
    width: 22px;
    height: 19px;
    /* filter: invert(99%) sepia(25%) saturate(276%) hue-rotate(249deg) brightness(114%) contrast(90%); */
    /* filter: invert(70%) sepia(2%) saturate(7%) hue-rotate(36deg) brightness(98%) contrast(86%); */
    filter: invert(97%) sepia(1%) saturate(0%) hue-rotate(120deg) brightness(86%) contrast(87%);
}

.div_list_prdt .page_prdt_list{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 60px;
}

.div_list_prdt .page_prdt_list .div_page_prev,
.div_list_prdt .page_prdt_list .div_page_next{
    width: 28px;
    height: 28px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_list_prdt .page_prdt_list .div_page_prev img,
.div_list_prdt .page_prdt_list .div_page_next img{
    width: 9.4px;
    height: 9.4px;
    filter: invert(82%) sepia(0%) saturate(9%) hue-rotate(178deg) brightness(84%) contrast(87%);
}

.div_list_prdt .page_prdt_list .div_page_prev:hover,
.div_list_prdt .page_prdt_list .div_page_next:hover{
    
}

.div_list_prdt .page_prdt_list .div_page_num{
    display: flex;
}

.div_list_prdt .page_prdt_list .div_page_num div{
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #aaaaaa;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_list_prdt .page_prdt_list .div_page_num div:hover{
    color: #ffffff;
    /* border: 1px solid #1f4dff; */
    background-color: #1f4dff;
}

.div_list_prdt .page_prdt_list .div_page_num .page_num_clicked{
    color: #ffffff;
    /* border: 1px solid #1f4dff; */
    background-color: #1f4dff;
}


.btn_prdt_info span{
	display: none;
}