.box-prd-recom{
    position: relative;
    width: 700px;
    margin: 0 auto;
    margin-top: 190px;
    padding: 115px 130px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.box-prd-recom .title-prd-recom{
    position: relative;
}

.box-prd-recom .title-prd-recom h3{
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

.box-prd-recom .title-prd-recom h3 span{
    color: #1F4DFF;
}

.box-prd-recom .title-prd-recom img{
    position: absolute;
    top: 0;
    right: 0;
    width: 189px;
}

.box-prd-recom .btn-prd-recom{
    width: 440px;
    height: 60px;
    margin-top: 40px;
    background-color: #1F4DFF;
    border-radius: 5px;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.box-prd-recom .btn-prd-recom:disabled{
    background-color: #DDDDDD;
    border: none;
    outline: none;
    color: #AAAAAA;
}

.box-prd-recom .title-prd-recom-02,
.box-prd-recom .title-prd-recom-03,
.box-prd-recom .title-prd-recom-04{
    text-align: center;
}

.box-prd-recom .title-prd-recom-02 h3,
.box-prd-recom .title-prd-recom-03 h3,
.box-prd-recom .title-prd-recom-04 h3{
    font-size: 28px;
    font-weight: 300;
}

.box-prd-recom .title-prd-recom-02 h3 b,
.box-prd-recom .title-prd-recom-03 h3 b,
.box-prd-recom .title-prd-recom-04 h3 b{
    font-weight: 600;
}

.box-prd-recom .box-pc-01,
.box-prd-recom .box-pc-02,
.box-prd-recom .box-pc-03{
    margin-top: 40px;
}

.box-prd-recom .box-pc-01 .box-pc-y,
.box-prd-recom .box-pc-01 .box-pc-n{
    display: inline-block;
    width: 219px;
    padding: 34px 0 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 0 0 5px;
    font-size: 0;
    text-align: center;
    border-collapse: collapse;
    cursor: pointer;
}

.box-prd-recom .box-pc-01 .box-pc-n{
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.box-prd-recom .box-pc-01 .box-pc-y span,
.box-prd-recom .box-pc-01 .box-pc-n span{
    color: #666666;
    font-size: 18px;
}

.box-prd-recom .box-pc-01 .box-pc-y img,
.box-prd-recom .box-pc-01 .box-pc-n img{
    width: 175px;
    margin-top: 15px;
}

.box-pc-01-m{
    display: none;
}

/* box-pc-02 */
.box-prd-recom .box-pc-02 .box-pc-y,
.box-prd-recom .box-pc-02 .box-pc-n{
    display: inline-block;
    width: 219px;
    padding: 34px 0 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 0 0 5px;
    font-size: 0;
    text-align: center;
    border-collapse: collapse;
    cursor: pointer;
}

.box-prd-recom .box-pc-02 .box-pc-n{
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.box-prd-recom .box-pc-02 .box-pc-y span,
.box-prd-recom .box-pc-02 .box-pc-n span{
    color: #666666;
    font-size: 18px;
}

.box-prd-recom .box-pc-02 .box-pc-y img,
.box-prd-recom .box-pc-02 .box-pc-n img{
    width: 180px;
    margin-top: 20px;
}

/* box-pc-03 */
.box-prd-recom .box-pc-03 .box-pc-y,
.box-prd-recom .box-pc-03 .box-pc-n{
    display: inline-block;
    width: 219px;
    padding: 34px 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 0 0 5px;
    font-size: 0;
    text-align: center;
    border-collapse: collapse;
    cursor: pointer;
}

.box-prd-recom .box-pc-03 .box-pc-n{
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.box-prd-recom .box-pc-03 .box-pc-y span,
.box-prd-recom .box-pc-03 .box-pc-n span{
    color: #666666;
    font-size: 18px;
}

/* process-finish */
.box-prd-recom-05{
    position: relative;
    margin-top: 380px;
    padding: 115px 130px 80px;
}

.box-prd-recom-05 img{
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
}

.box-prd-recom .title-prd-recom-05{
    text-align: center;
}

.box-prd-recom .title-prd-recom-05 h3{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 500;
}

.box-prd-recom .title-prd-recom-05 span{
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 300;
}

/* progress bar */
.bar-progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    background-color: #1F4DFF;
}

.bar-progress-01{
    width: 33.3%;
    animation:progress1 1s ease-in-out;
}

.bar-progress-02{
    width: 66.6%;
    animation:progress2 1s ease-in-out;
}

.bar-progress-03{
    width: 100%;
    animation:progress3 1s ease-in-out;
}

@keyframes progress1{
    from{
        width:0;
    }to{
        width:33.3%;
    }
}

@keyframes progress2{
    from{
        width:33.3%;
    }to{
        width:66.6%;
    }
}

@keyframes progress3{
    from{
        width:66.6%;
    }to{
        width:100%;
    }
}

/* display none */
.box-prd-recom-02,
.box-prd-recom-03,
.box-prd-recom-04,
.box-prd-recom-05{
    display: none;
}

.box-prd-recom .box-pc-01 .box-pc-active,
.box-prd-recom .box-pc-02 .box-pc-active,
.box-prd-recom .box-pc-03 .box-pc-active{
    background-color: #1F4DFF;
    border-color: #1F4DFF;
}

.box-prd-recom .box-pc-01 .box-pc-active span,
.box-prd-recom .box-pc-02 .box-pc-active span,
.box-prd-recom .box-pc-03 .box-pc-active span{
    color: #FFFFFF;
}
