<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.fit_nance.project.dao.IListDAO">
	<resultMap id="resultInstallList" type="com.fit_nance.project.model.InstallListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="mtrt_int" column="mtrt_int"/>
		<result property="spcl_cnd" column="spcl_cnd"/>
		<result property="join_deny" column="join_deny"/>
		<result property="join_member" column="join_member"/>
		<result property="etc_note" column="etc_note"/>
		<result property="max_limit" column="max_limit"/>
		<result property="oIndex" column="oIndex"/>
		<result property="intr_rate_type" column="intr_rate_type"/>
		<result property="intr_rate_type_nm" column="intr_rate_type_nm"/>
		<result property="rsrv_type" column="rsrv_type"/>
		<result property="rsrv_type_nm" column="rsrv_type_nm"/>
		<result property="save_trm" column="save_trm"/>
		<result property="intr_rate" column="intr_rate"/>
		<result property="intr_rate2" column="intr_rate2"/>
	</resultMap>
	<resultMap id="resultDepositList" type="com.fit_nance.project.model.DepositListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="mtrt_int" column="mtrt_int"/>
		<result property="spcl_cnd" column="spcl_cnd"/>
		<result property="join_deny" column="join_deny"/>
		<result property="join_member" column="join_member"/>
		<result property="etc_note" column="etc_note"/>
		<result property="max_limit" column="max_limit"/>
		<result property="oIndex" column="oIndex"/>
		<result property="intr_rate_type" column="intr_rate_type"/>
		<result property="intr_rate_type_nm" column="intr_rate_type_nm"/>
		<result property="save_trm" column="save_trm"/>
		<result property="intr_rate" column="intr_rate"/>
		<result property="intr_rate2" column="intr_rate2"/>
	</resultMap>
	
	<!-- 적금 -->
	<!-- 전체 적금 상품 조회 -->
	<select id="selectInstallList" resultMap="resultInstallList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.intr_rate, O.intr_rate2
		FROM installment_option O
			INNER JOIN installment_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex IN (SELECT MAX(oIndex) from installment_option GROUP BY pIndex)
		ORDER BY intr_rate2 DESC
	</select>
	
	<!-- 적금 detail -->
	<select id="selectInstallDetail" parameterType="int" resultType="com.fit_nance.project.model.InstallListVO">
		SELECT * FROM installment_option O
			INNER JOIN installment_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex=#{oIndex}
	</select>
	
	<!-- 적금 필터링 -->
	<select id="selectInstallFilter" resultMap="resultInstallList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.intr_rate, O.intr_rate2
		FROM installment_option O
			INNER JOIN installment_base B ON B.pIndex = O.pIndex
		<if test="rsrv_type_nm.size()!=0"> 
			AND O.rsrv_type_nm IN 
			<foreach collection="rsrv_type_nm" item="rsrv_type_nm" open="(" close=")" separator=",">
				#{rsrv_type_nm}
			</foreach>
		</if>
		<if test="join_member.size()!=0"> 
			AND  
			<foreach collection="join_member" item="join_member" open="(" close=")" separator="OR">
				B.join_member LIKE CONCAT('%',#{join_member},'%')
			</foreach>
		</if>
		<if test="join_way.size()!=0"> 
			AND
			<foreach collection="join_way" item="join_way" open="(" close=")" separator="AND">
				B.join_way LIKE CONCAT('%',#{join_way},'%')
			</foreach>
		</if>
		<if test="save_trm.size()!=0"> 
			AND O.save_trm IN 
			<foreach collection="save_trm" item="save_trm" open="(" close=")" separator=",">
				#{save_trm}
			</foreach>
		</if>
		WHERE O.oIndex IN (SELECT MAX(oIndex) from installment_option GROUP BY pIndex)
		ORDER BY intr_rate2 DESC
	</select>
	
	<!-- 예금 -->
	<!-- 전체 예금 상품 조회 -->
	<select id="selectDepositList" resultMap="resultDepositList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.intr_rate, O.save_trm
		FROM deposit_option O
			INNER JOIN deposit_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex IN (SELECT MIN(oIndex) from deposit_option GROUP BY pIndex)
		ORDER BY intr_rate DESC
	</select>
	
	<!-- 예금 detail -->
	<select id="selectDepositDetail" parameterType="int" resultType="com.fit_nance.project.model.DepositListVO">
		SELECT * FROM deposit_option O
			INNER JOIN deposit_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex=#{oIndex}
	</select>
	
	<!-- 예금 필터링 -->
	<select id="selectDepositFilter" resultMap="resultDepositList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.intr_rate, O.save_trm
		FROM deposit_option O
			INNER JOIN deposit_base B ON B.pIndex = O.pIndex
		<if test="join_member.size()!=0"> 
		AND  
		<foreach collection="join_member" item="join_member" open="(" close=")" separator="OR">
			b.join_member LIKE CONCAT('%',#{join_member},'%')
		</foreach>
		</if>
		<if test="join_way.size()!=0"> 
		AND
		<foreach collection="join_way" item="join_way" open="(" close=")" separator="AND">
			b.join_way LIKE CONCAT('%',#{join_way},'%')
		</foreach>
		</if>
		<if test="save_trm.size()!=0"> 
		AND o.save_trm IN 
		<foreach collection="save_trm" item="save_trm" open="(" close=")" separator=",">
			#{save_trm}
		</foreach>
		</if>
		WHERE O.oIndex IN (SELECT MIN(oIndex) from deposit_option GROUP BY pIndex)
		ORDER BY intr_rate DESC
	</select>
</mapper>