<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.fit_nance.project.dao.IListLoanDAO">
	<resultMap id="resultHLList" type="com.fit_nance.project.model.HomeLoanListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="oIndex" column="oIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="loan_lmt" column="loan_lmt"/>
		<result property="mrtg_type_nm" column="mrtg_type_nm"/>
		<result property="rpay_type_nm" column="rpay_type_nm"/>
		<result property="lend_rate_type_nm" column="lend_rate_type_nm"/>
		<result property="loan_inci_expn" column="loan_inci_expn"/>
		<result property="erly_rpay_fee" column="erly_rpay_fee"/>
		<result property="dly_rate" column="dly_rate"/>
		<result property="mrtg_type" column="mrtg_type"/>
		<result property="rpay_type" column="rpay_type"/>
		<result property="lend_rate_type" column="lend_rate_type"/>
		<result property="lend_rate_min" column="lend_rate_min"/>
		<result property="lend_rate_max" column="lend_rate_max"/>
		<result property="lend_rate_avg" column="lend_rate_avg"/>
	</resultMap>
	<resultMap id="resultCharterLoanList" type="com.fit_nance.project.model.CharterLoanListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="oIndex" column="oIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="loan_lmt" column="loan_lmt"/>
		<result property="rpay_type_nm" column="rpay_type_nm"/>
		<result property="lend_rate_type_nm" column="lend_rate_type_nm"/>
		<result property="loan_inci_expn" column="loan_inci_expn"/>
		<result property="erly_rpay_fee" column="erly_rpay_fee"/>
		<result property="dly_rate" column="dly_rate"/>
		<result property="rpay_type" column="rpay_type"/>
		<result property="lend_rate_type" column="lend_rate_type"/>
		<result property="lend_rate_min" column="lend_rate_min"/>
		<result property="lend_rate_max" column="lend_rate_max"/>
		<result property="lend_rate_avg" column="lend_rate_avg"/>
	</resultMap>
	<resultMap id="resultCreditLoanList" type="com.fit_nance.project.model.PersonalLoanListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="crdt_prdt_type" column="crdt_prdt_type"/>
		<result property="crdt_prdt_type_nm" column="crdt_prdt_type_nm"/>
		<result property="crdt_grad_avg" column="crdt_grad_avg"/>
		<result property="oIndex" column="oIndex"/>
		<result property="crdt_lend_rate_type" column="crdt_lend_rate_type"/>
		<result property="crdt_lend_rate_type_nm" column="crdt_lend_rate_type_nm"/>
		<result property="crdt_grad_1" column="crdt_grad_1"/>
		<result property="crdt_grad_4" column="crdt_grad_4"/>
		<result property="crdt_grad_5" column="crdt_grad_5"/>
		<result property="crdt_grad_6" column="crdt_grad_6"/>
		<result property="crdt_grad_10" column="crdt_grad_10"/>
		<result property="crdt_grad_11" column="crdt_grad_11"/>
		<result property="crdt_grad_12" column="crdt_grad_12"/>
		<result property="crdt_grad_13" column="crdt_grad_13"/>
	</resultMap>
	<resultMap id="resultFavList" type="com.fit_nance.project.model.FavoriteVO">
		<result property="kind" column="kind"/>
		<result property="oIndex" column="oIndex"/>
		<result property="memId" column="memId"/>
	</resultMap>
	
	<!-- 전체 주택 담보 상품 조회 -->
	<select id="listAllHomeLoan" resultMap="resultHLList">
		SELECT <!-- O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.lend_rate_min -->
		O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.loan_lmt, O.mrtg_type_nm, O.rpay_type_nm, O.lend_rate_type_nm, B.loan_inci_expn, B.erly_rpay_fee, B.dly_rate, O.lend_rate_min 
		FROM home_loan_option O INNER JOIN home_loan_base B
		ON B.pIndex = O.pIndex
		WHERE O.oIndex IN (SELECT max(oIndex) from home_loan_option GROUP BY pIndex)
		ORDER BY O.lend_rate_min
	</select>
	
	<!-- 주택 담보 detail -->
	<select id="detailViewHomeLoan" parameterType="int" resultType="com.fit_nance.project.model.HomeLoanListVO">
		SELECT * FROM home_loan_option O
			INNER JOIN home_loan_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex=#{oIndex}
	</select>
	
	<!-- 주택 담보 필터링 -->
	<select id="selectHomeLoanFilter" resultMap="resultHLList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.lend_rate_min
		FROM home_loan_option O
			INNER JOIN home_loan_base B ON B.pIndex = O.pIndex
		<if test="list_join_way.size()>0">
			 AND 
			<foreach collection="list_join_way" item="list_join_way" open="(" close=")" separator="AND">
				B.join_way LIKE CONCAT ('%',#{list_join_way},'%')
			</foreach>
		</if>
		<if test="list_mrtg_type.size()>0">
			AND
			<foreach collection="list_mrtg_type" item="list_mrtg_type" open="(" close=")" separator="AND">
				O.mrtg_type_nm LIKE CONCAT('%',#{list_mrtg_type},'%')
			</foreach>
		</if>
		<if test="list_rpay_type.size()>0">
			AND
			<foreach collection="list_rpay_type" item="list_rpay_type" open="(" close=")" separator="AND">
				O.rpay_type_nm LIKE CONCAT ('%',#{list_rpay_type},'%')
			</foreach>
		</if>
		<if test="list_lend_type.size()>0">
			AND
			<foreach collection="list_lend_type" item="list_lend_type" open="(" close=")" separator="AND">
				O.lend_rate_type_nm LIKE CONCAT ('%',#{list_lend_type},'%')
			</foreach>
		</if>
		WHERE O.oIndex IN (SELECT max(oIndex) from home_loan_option GROUP BY pIndex)
		ORDER BY O.lend_rate_min
	</select>
	<!-- <insert id="insertHomeLoanFavorite" --> 
	
	<!-- 전세 자금 전체 리스트 조회 -->
	<select id="selectCharterLoanList" resultMap="resultCharterLoanList">
		SELECT <!-- O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.lend_rate_min -->
		O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.loan_lmt, O.rpay_type_nm, O.lend_rate_type_nm, B.loan_inci_expn, B.erly_rpay_fee, B.dly_rate, O.lend_rate_min
		FROM charter_loan_option O
			INNER JOIN charter_loan_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex IN (SELECT max(oIndex) from charter_loan_option GROUP BY pIndex)
		ORDER BY O.oIndex DESC
	</select>
	
	<!-- 전세 자금 detail -->
	<select id="selectCharterLoanDetail" parameterType="int" resultType="com.fit_nance.project.model.CharterLoanListVO">
		SELECT * FROM charter_loan_option O
			INNER JOIN charter_loan_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex=#{oIndex}
	</select>
	
	<!-- 전세 자금 필터링 -->
	<select id="selectCharterLoanFilter" resultMap="resultCharterLoanList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.lend_rate_min
			FROM charter_loan_option O
		INNER JOIN charter_loan_base B ON B.pIndex = O.pIndex
		<if test="list_join_way.size()>0">
			 AND 
			<foreach collection="list_join_way" item="list_join_way" open="(" close=")" separator="AND">
				B.join_way LIKE CONCAT ('%',#{list_join_way},'%')
			</foreach>
		</if>
		<if test="list_rpay_type.size()>0">
			AND
			<foreach collection="list_rpay_type" item="list_rpay_type" open="(" close=")" separator="AND">
				O.rpay_type_nm LIKE CONCAT ('%',#{list_rpay_type},'%')
			</foreach>
		</if>
		<if test="list_lend_type.size()>0">
			AND
			<foreach collection="list_lend_type" item="list_lend_type" open="(" close=")" separator="AND">
				O.lend_rate_type_nm LIKE CONCAT ('%',#{list_lend_type},'%')
			</foreach>
		</if>
		WHERE O.oIndex IN (SELECT max(oIndex) from charter_loan_option GROUP BY pIndex)
		ORDER BY O.oIndex DESC
	</select>
	
	<!-- 신용대출 -->
	<select id="selectPersonalLoanList" resultMap="resultCreditLoanList">
		SELECT <!-- O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.crdt_grad_avg -->
		O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.crdt_prdt_type, B.crdt_prdt_type_nm, O.crdt_grad_avg, O.crdt_lend_rate_type, O.crdt_lend_rate_type_nm
		FROM personal_loan_option O
			INNER JOIN personal_loan_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex IN (SELECT max(oIndex) from personal_loan_option GROUP BY pIndex)
		ORDER BY O.pIndex DESC
	</select>
	
	<!-- 신용대출 detail -->
	<select id="selectPersonalLoanDetail" parameterType="int" resultType="com.fit_nance.project.model.PersonalLoanListVO">
		SELECT * FROM personal_loan_option O
			INNER JOIN personal_loan_base B ON B.pIndex = O.pIndex
		WHERE O.oIndex=#{oIndex}
	</select>
	
	<!-- 신용대출 필터링 -->
	<select id="selectPersonalLoanFilter" resultMap="resultCreditLoanList">
		SELECT O.oIndex, B.pIndex, O.fin_co_no, B.kor_co_nm, B.fin_prdt_nm, B.join_way, O.crdt_grad_avg
			FROM personal_loan_option O
		INNER JOIN personal_loan_base B ON B.pIndex = O.pIndex
		<if test="list_join_way.size()>0">
			 AND 
			<foreach collection="list_join_way" item="list_join_way" open="(" close=")" separator="AND">
				B.join_way LIKE CONCAT ('%',#{list_join_way},'%')
			</foreach>
		</if>
		<if test="list_crdt_prdt_type.size()>0">
			AND
			<foreach collection="list_crdt_prdt_type" item="list_crdt_prdt_type" open="(" close=")" separator="AND">
				B.crdt_prdt_type LIKE CONCAT ('%',#{list_crdt_prdt_type},'%')
			</foreach>
		</if>
		WHERE O.oIndex IN (SELECT max(oIndex) from personal_loan_option GROUP BY pIndex)
		ORDER BY O.pIndex DESC
	</select>
	<!-- ////////////////// -->
	<select id="selectFavList" resultMap="resultFavList">
		SELECT oIndex
		FROM favorite
		WHERE oIndex=#{oIndex} AND memId=#{memId}
	</select>
	
	<insert id="insertFavList" parameterType="com.fit_nance.project.model.FavoriteVO">
		INSERT favorite(kind, oIndex, memId)
		VALUES(#{kind}, #{oIndex}, #{memId})
	</insert>
	
	<delete id="deleteFavList">
		DELETE FROM favorite
		WHERE kind=#{kind} AND oIndex=#{oIndex} AND memId=#{memId}
	</delete>
</mapper>