<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fit_nance.project.dao.ILoanListDAO">
	<resultMap id="resultHomeLoanList" type="com.fit_nance.project.model.HomeLoanListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="loan_lmt" column="loan_lmt"/>
		<result property="lend_rate_min" column="lend_rate_min"/>
	</resultMap>
	<resultMap id="resultCreditLoanList" type="com.fit_nance.project.model.PersonalLoanListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="crdt_prdt_type" column="crdt_prdt_type"/>
		<result property="crdt_prdt_type_nm" column="crdt_prdt_type_nm"/>
		<result property="crdt_grad_avg" column="crdt_grad_avg"/>
	</resultMap>
	
	
	<select id="selectHomeLoanList" resultMap="resultHomeLoanList">
		SELECT B.pIndex, B.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.loan_lmt, O.lend_rate_min
 		FROM home_loan_option O INNER JOIN home_loan_base B
		ON B.fin_prdt_cd = O.fin_prdt_cd 
		GROUP BY B.fin_prdt_cd
	</select>
	
	<!-- 상품 detail -->
	<select id="selectHomeLoanDetail" parameterType="com.fit_nance.project.model.HomeLoanBaseVO" resultMap="resultHomeLoanList">
		SELECT * FROM(
			SELECT B.pIndex, B.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.loan_lmt, O.lend_rate_min
	 		FROM home_loan_option O INNER JOIN home_loan_base B
			ON B.fin_prdt_cd = O.fin_prdt_cd 
			GROUP BY B.fin_prdt_cd
		) B WHERE B.fin_prdt_cd=#{fin_prdt_cd}
	</select>
	
	<select id="selectCharterLoanList" resultMap="resultHomeLoanList">
		SELECT B.pIndex, B.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.loan_lmt, O.lend_rate_min
 		FROM charter_loan_option O INNER JOIN charter_loan_base B
		ON B.fin_prdt_cd = O.fin_prdt_cd 
		GROUP BY B.fin_prdt_cd
	</select>
	
	<select id="selectPersonalLoanList" resultMap="resultCreditLoanList">
		SELECT B.pIndex, B.fin_co_no, B.kor_co_nm, B.fin_prdt_cd, B.fin_prdt_nm, B.join_way, B.crdt_prdt_type, B.crdt_prdt_type_nm, O.crdt_grad_avg
 		FROM personal_loan_option O INNER JOIN personal_loan_base B
		ON B.fin_prdt_cd = O.fin_prdt_cd 
		GROUP BY B.fin_prdt_cd
	</select>
</mapper>