<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.fit_nance.project.dao.IProductDAO">
		<resultMap id="resultInstallList" type="com.fit_nance.project.model.InstallListVO">
		<result property="pIndex" column="pIndex"/>
		<result property="fin_co_no" column="fin_co_no"/>
		<result property="kor_co_nm" column="kor_co_nm"/>
		<result property="fin_prdt_cd" column="fin_prdt_cd"/>
		<result property="fin_prdt_nm" column="fin_prdt_nm"/>
		<result property="join_way" column="join_way"/>
		<result property="mtrt_int" column="mtrt_int"/>
		<result property="spcl_cnd" column="spcl_cnd"/>
		<result property="join_deny" column="join_deny"/>
		<result property="join_member" column="join_member"/>
		<result property="etc_note" column="etc_note"/>
		<result property="max_limit" column="max_limit"/>
		<result property="oIndex" column="oIndex"/>
		<result property="intr_rate_type" column="intr_rate_type"/>
		<result property="intr_rate_type_nm" column="intr_rate_type_nm"/>
		<result property="rsrv_type" column="rsrv_type"/>
		<result property="rsrv_type_nm" column="rsrv_type_nm"/>
		<result property="save_trm" column="save_trm"/>
		<result property="intr_rate" column="intr_rate"/>
		<result property="intr_rate2" column="intr_rate2"/>
	</resultMap>
	
	<select id="selectInstall" resultMap="resultInstallList">
		SELECT b.pIndex, b.fin_co_no, b.kor_co_nm, b.fin_prdt_cd, b.fin_prdt_nm,b.join_way,b.mtrt_int,b.spcl_cnd,b.join_deny,b.join_member,b.etc_note, b.max_limit,o.oIndex,o.intr_rate_type,o.intr_rate_type_nm,o.rsrv_type,o.rsrv_type_nm,o.save_trm,o.intr_rate,o.intr_rate2
		FROM installment_base b INNER JOIN installment_option o
		ON b.fin_prdt_cd=o.fin_prdt_cd
		GROUP BY b.fin_prdt_cd;
	</select>
	
	<select id="selectInstallFilter" resultMap="resultInstallList">
		SELECT b.pIndex, b.fin_co_no, b.kor_co_nm, b.fin_prdt_cd, b.fin_prdt_nm,b.join_way,b.mtrt_int,b.spcl_cnd,b.join_deny,b.join_member,b.etc_note, b.max_limit,o.oIndex,o.intr_rate_type,o.intr_rate_type_nm,o.rsrv_type,o.rsrv_type_nm,o.save_trm,o.intr_rate,o.intr_rate2
		FROM installment_base b, installment_option o
		WHERE b.fin_prdt_cd=o.fin_prdt_cd 
		<if test="rsrv_type_nm.size()!=0"> 
		AND o.rsrv_type_nm IN 
		<foreach collection="rsrv_type_nm" item="rsrv_type_nm" open="(" close=")" separator=",">
			#{rsrv_type_nm}
		</foreach>
		</if>
		<if test="join_member.size()!=0"> 
		AND o.join_member IN 
		<foreach collection="join_member" item="join_member" open="(" close=")" separator=",">
			#{join_member}
		</foreach>
		</if>
		<if test="join_way.size()!=0"> 
		AND o.join_way IN 
		<foreach collection="join_way" item="join_way" open="(" close=")" separator=",">
			#{join_way}
		</foreach>
		</if>
		<if test="save_trm.size()!=0"> 
		AND o.save_trm IN 
		<foreach collection="save_trm" item="save_trm" open="(" close=")" separator=",">
			#{save_trm}
		</foreach>
		</if>
		GROUP BY b.fin_prdt_cd;
	</select>
</mapper>